/* Clases CSS para títulos y párrafos */

/* Clase para h1 - Título principal */
.titulo-principal {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}

/* Clase para h2 - Subtítulo */
.subtitulo {
  font-size: 1.25rem;
  font-weight: 600;
  color: #374151;
  margin-bottom: 0.75rem;
}

/* Clase para párrafo */
.parrafo {
  color: #374151;
  text-align: justify;
  margin-bottom: 2rem;
  line-height: 1.625;
}

.contenedor-imgen {
  display: flex;          /* flex */
  justify-content: center;/* justify-center */
  align-items: center;    /* items-center */
  margin: 10px;
}